 /*defining with root font size*/
 html {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
 }

 /* header */
h1 {
  font-family:"Libre Caslon Text";
  color:rgb(220, 55, 0);
  font-size: 36pt; 
  text-align: center;
  padding-bottom: 20px;
}